* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/*Navigation*/

.container-fluid {    
    background-color: transparent;        
}

.navbar-brand {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 24px;
     color: white;
}

.navbar-header > a {
    color: white;    
}

.navbar-header > a:hover {
    background-color: gray;
    
}

.navbar-nav {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
      
}

.dropdown {    
    margin-right: 5.1em;
}

.navbar-nav>li>a {    
    font-size: 24px;
    color: white;    
}

.navbar-nav>li>a:hover {    
    background-color: gray;  
}



/*Header*/

header {
    background: #000000; 
    background: -webkit-linear-gradient(to top, #000000 , #434343); 
    background: linear-gradient(to top, #000000 , #434343); 
}


.page-header {
    text-align: center;
}

#header {
    margin-top: 5em;
    text-align: center;

}



/**** Body ****/

body {
    
/*Man of Steel*/



/*  background: #780206; 
    background: -webkit-linear-gradient(to left, #780206 , #061161); 
    background: linear-gradient(to left, #780206 , #061161); */


/*Mice Elf*/

/*  background: #948E99; 
    background: -webkit-linear-gradient(to top, #948E99 , #2E1437); 
    background: linear-gradient(to top, #948E99 , #2E1437); */
        


/*Dark Skies*/

    background: #4B79A1; 
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); 
    background: linear-gradient(to left, #4B79A1 , #283E51); 
        

        
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color: white;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;

}



#featured {
    margin-top: 8em;
}


.featured {
    padding-left: 1.2em;
    text-align: center;
}


#projects {
    padding-top: 8em;
    padding-bottom: 8em;
    margin: 0 auto;
    text-align: center;
}

/*Footer*/

footer {
    
    background: #000000; 
    background: -webkit-linear-gradient(to top, #000000 , #434343); 
    background: linear-gradient(to top, #000000 , #434343); 
    padding: 3em 0em 0em 0em;
        
}



#github {
    padding-left: 1.2em;
    margin: 0 auto;
    text-align: center;

        
}

.fa.fa-github {   
    color: white;
}

.footer-copyright {
    height: 100%;
    text-align: center;    
}

.footer-copyright > span {
    color: whitesmoke;
}

.footer-copyright > a {
    display: block;
}

/*Font Awesome Icon Styles*/

.fa-copyright { 
    border-radius: 5px; 
}

.fa-newspaper-o {
    color: white;
}

.fa-newspaper-o:hover {
    color: #3d0062;
}


.fa-cutlery {
    color: white;
}

.fa-cutlery:hover {
    color: #46b834;
}


.fa-heartbeat {
    color: white;
}

.fa-heartbeat:hover {
    color: #780206;
}

.fa-linkedin-square {
    color: white;
}

.fa-twitter {
    color: white;
}






#old-news-description > h2 {
    font-family: 'Special Elite', cursive;
}

#old-news-description > h3 {
    text-align: left;
}

#old-news-below-icon {
    font-family: 'Special Elite', cursive;
}

#chances-description > h2 {
    font-family: 'Shrikhand', cursive;
}

#chances-description > h3 {
    text-align: left;
}

#chances-below-icon {
    font-family: 'Shrikhand', cursive;
}

#chances-death {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#chances-death-below-icon {
    font-family: 'Shrikhand', cursive;
}




/*Images*/


img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

#watc-dnyc-img {
    background-color: white;
    height: 30em;
    width: 30em;
    border: 1px solid white;
}

#watc-img {
    height: 30em;
    width: 30em;
    border: 1px solid white;
}

#old-news-img {
    height: 30em;
    width: 30em;
    border: 1px solid white;
}



/*Media Queries*/


@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

}







